.left-half {
/* covers half the screen with colour  */
    background-color: #DCE8D5;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.circle-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #F5F5F5;
    z-index: -1;
}

.right-half{
    background-color: #FFFFFF;
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 50%;
}

.signin-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 30%;
}

.logo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 40px;
    padding-right: 20px;
}

.bottom-text{
    color:#3F51B5;
    text-align: center;
}

a{
    color:#3F51B5;
}

a:hover{
    color:#5d6fd2;
}

/* fix responsiveness for tab */
