.profile-icon {
    background-color: #6b6766;
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.profile-icon-text { 
    color: #fff;
}